<%- include("partials/header") %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <form action="/compose" method="post">
            <h1>COMPOSE</h1>
            <h4>Title</h4>
            <input type="text" name="postTitle" id="TITLE">
            <br>
            <h4>Post</h4>
            <textarea name="composeTitle" id="COMPOSE" cols="150" rows="10"></textarea>
            <br>
            <button type="submit " class="btn btn-primary">Publish</button>





        </form>

    </body>

    </html>
    <%- include("partials/footer") %>